﻿body {
}

.input-field i {
	margin-top: 8px !important;
}


#login-box {
	height: 400px !important;
	width: 100%;
}

	#login-box div.valign {
		width: 100%;
	}

/* Cambios de resolución con ajustes */
@media only screen and (max-width:803px) {
	.card {
		height: 337px !important;
	}

	.card-title {
		padding-bottom: 0px;
	}

	.dashboard-table th, .dashboard-table td {
		font-size: 0.8rem;
		letter-spacing: -1px;
	}
}

@media only screen and (min-width:1280px) {

	.card-title {
		padding-bottom: 29px;
	}
}



@media only screen and (min-width:600px) {

	.logo-bksys {
		width: 192px;
	}
}

@media only screen and (max-width:600px) {

	.logo-bksys {
		width: 169px;
	}
}


@media only screen and (min-width: 992px) {
	.dashboard-table td, .dashboard-table th {
		font-size: 0.8rem !important;
		letter-spacing: -1px !important;
	}

		.dashboard-table td.ExpedienteEstadoID {
			font-size: 0.7rem !important;
		}
}

@media only screen and (min-width: 1005px) {
	.dashboard-table td, .dashboard-table th {
		font-size: 0.8rem !important;
		letter-spacing: 0px !important;
	}
}

nav .button-collapse {
	padding: 0px 0px 0px 5px;
}

	nav .button-collapse i {
		font-size: 2rem;
	}



#dropdown1 {
	width: 217px !important;
	top: 67px !important;
	right: 0px !important;
}

.dashboard-table td, .dashboard-table th, .asignaciones-table td, .asignaciones-table th {
	font-size: 0.9rem;
	line-height: 3px;
}

td.liq, td.info {
	padding: 5px 5px;
}

.asignaciones-table th:first-child, .asignaciones-table td:first-child {
	padding-left: 70px;
}

.dashboard-card .row, .asignaciones-card .row {
	margin-bottom: 0px;
}

.bold {
	font-weight: bold;
}


.dashboard-card .usuarios {
	padding: 11px 0px 9px 0px !important;
	margin-left: 60px;
}

#PanelSincronizaciones .progress {
	margin: 0px 0px 0px 0px !important;
}

#PanelSincronizaciones .row {
	padding-top: 9px;
	margin-bottom: 0px;
}

#PanelSincronizaciones .collection-item {
	padding: 0px 20px;
}

.punteroLink {
	cursor: pointer;
}

.cargaDatos, .editaUsuario, .eliminaUsuario, .agregaUsuarioAsignacion {
	cursor: pointer;
}

.disabled {
	cursor: not-allowed;
}

.boton-sync {
	padding: 6px 0px 0px 0px !important;
}

#modal {
	top: 8% !important;
	z-index: 1100 !important;
}
	/*
#modal .select-wrapper input {
	padding: 0px 0px 0px 11px;
	color: #9e9e9e;
}
*/

	#modal .input-field {
		margin-top: 0px;
	}

	#modal h5 {
		margin: 0rem 0 0.656rem 0;
	}

.modal {
	max-height: 83% !important;
}

	.modal.modal-fixed-footer {
		height: 80% !important;
	}

	.modal.modal-cambioestadoliq {
		height: 40% !important;
	}
	

.usuarios-table td, .usuarios-table th {
	line-height: 3px;
	height: 42px;
}

.usuarios-table td {
	padding: 10px 5px !important;
}

.boton-agregar {
	right: 20px;
	bottom: 20px;
}

.fixed-action-btn {
	bottom: 1%;
	right: 0%;
	z-index: 900;
}

.asignaciones-card .section {
	padding: 5px 0px 5px 70px !important;
}

	.asignaciones-card .section .row {
		padding: 5px 0px 0px 0px !important;
	}

	.asignaciones-card .section .col {
		margin: 4px 0px 0px 0px !important;
	}

		.asignaciones-card .section .col:first-child {
			margin: 3px 0px 0px 0px !important;
		}

	.asignaciones-card .section i {
		margin-right: 3px !important;
	}

	.asignaciones-card .section h6 {
		font-size: 1.1rem;
	}

.asignaciones-card .divider {
	overflow: inherit !important;
}

.empresa.active, ul.dashboard-card li.active, ul.asignaciones-card li.active {
	border: 0.15rem solid rgba(3,155,229,0.45);
}

.selectEmpresasMaxHeight {
	max-height: 400px !important;
}

.estadoLiq2 {
	background-color: #ffcdd2 !important;
}

.estadoLiq3 {
	background-color: #ffecb3 !important;
}

.estadoLiq4 {
	background-color: #dcedc8 !important;
}

.estadoLiq5 {
	background-color: #ececec !important;
}

/* switches */

/* Pendientes*/
.switch.pendientes label .lever {
	background-color: #818181;
}

.switch.pendientes label input[type=checkbox]:checked + .lever {
	background-color: #ffcdd2;
}

	.switch.pendientes label input[type=checkbox]:checked + .lever:after {
		background-color: #e57373 !important;
	}

span.pendientes {
	color: #f44336 !important;
}

/* aliquidar*/
.switch.aliquidar label .lever {
	background-color: #818181;
}

.switch.aliquidar label input[type=checkbox]:checked + .lever {
	background-color: #ffecb3;
}

	.switch.aliquidar label input[type=checkbox]:checked + .lever:after {
		background-color: #ffd54f !important;
	}

span.aliquidar {
	color: #ffc107 !important;
}

/* liquidados*/
.switch.liquidados label .lever {
	background-color: #818181;
}

.switch.liquidados label input[type=checkbox]:checked + .lever {
	background-color: #dcedc8;
}

	.switch.liquidados label input[type=checkbox]:checked + .lever:after {
		background-color: #aed581 !important;
	}

span.liquidados {
	color: #8bc34a !important;
}

/* finalizados*/
.switch.finalizados label .lever {
	background-color: #818181;
}

.switch.finalizados label input[type=checkbox]:checked + .lever {
	background-color: #ececec;
}

	.switch.finalizados label input[type=checkbox]:checked + .lever:after {
		background-color: #cccccc !important;
	}

span.finalizados {
	color: #bfbfbf !important;
}



/* ALERTS */
/* inspired by Twitter Bootstrap */

#ohsnap {
	position: fixed;
	bottom: 5px;
	right: 5px;
	margin-left: 5px;
	z-index: 99;
}

.alert {
	text-align: right;
	margin-top: 10px;
	padding: 15px;
	border: 1px solid #eed3d7;
	border-radius: 4px;
	float: right;
	clear: right;
	background-color: white;
}

.alert-red {
	color: white;
	background-color: #DA4453;
}

.alert-green {
	color: white;
	background-color: #37BC9B;
}

.alert-blue {
	color: white;
	background-color: #4A89DC;
}

.alert-yellow {
	color: white;
	background-color: #F6BB42;
}

.alert-orange {
	color: white;
	background-color: #E9573F;
}


#toast-container {
	z-index: 100;
}

#barraProgreso {
	z-index: 100 !important;
	margin: 0px 0px 0px 0px !important;
	position: fixed !important;
	bottom: 0px !important;
	width: 100% !important;
	height: 10px !Important;
}

table.modal-table td, table.modal-table th {
	padding: 2px 5px;
}

.filaSumaGestores {
	background-color: #ffecb3 !important;
}

.filaSocios {
	background-color: #D6EAC0 !important;
}

.filaAdministradores {
	background-color: #F2B9B9 !important;
}

.filaGeneral {
	background-color:#C8DBF4 !important;
}
.filaGeneral td {
	padding-top: 8px !important;

}


.filaSumaGestores td:first-child, .filaSocios td:first-child, .filaAdministradores td:first-child, .filaGeneral td:first-child {
	text-align: right;
}
#modalabajo {
	border-top: 5px solid rgba(3,155,229,0.35);
}

#modalabajo thead {
	margin-top: 21px;
	
}
#modalabajo .modal-footer .btn {
	padding: 0px 1rem !important;
}

.textoRojo {
	color: red;
}